/* Estilos para la barra de navegación */
.navbar {
  text-align: center;
  background-color: #177881;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* style.css */

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
  }
  
/* Estilos para el contenido principal */
h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: gray;
  padding: 20px 0;
  text-align: center;
  position: absolute; /* Agregado */
  bottom: 0; /* Agregado */
  left: 0; /* Agregado */
  width: 100%; /* Agregado */
}

footer p {
  margin: 0;
  font-size: 14px;
  color: white;
}

/* Estilos para botones */
.d-flex{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  background-color: #177881;
  height: 45px;
  margin: 10px 35px;
  text-align: center;
  font-size: 15px; /* Aumenta el tamaño del texto de los botones */
  flex: 1;
}

.btnexit {
  float: right;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  background-color: #dc3545;
  margin-top: 10px;
  text-align: center;
  font-size: 18px; /* Aumenta el tamaño del texto de los botones */
  width: 100%; /* Asegura que los botones ocupen todo el ancho disponible */
}

.form-group{
  border-top: 100px;
  height: 100px;
}

.form-control{
  width: 100%;
  height: 35px;
}
