body {
    background-color: #f5f5f5;
}

/* Estilos para la barra de navegación */
.navbar {
    text-align: center;
    background-color: #177881;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* CSS del container */
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}


/* Estilos para el contenido principal */
h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: gray;
    padding: 10px 0;
    text-align: center;
    position:fixed; /* Agregado */
    bottom: 0; /* Agregado */
    left: 0; /* Agregado */
    width: 100%; /* Agregado */
}

footer p {
    margin: 0;
    font-size: 14px;
    color: white;
}

/* Estilos para botones */
.d-flex{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}
.d-flex1{
    display: flex;
    justify-content: center;
}
.d-flex2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #177881;
    height: 45px;
    margin: 10px 35px;
    text-align: center;
    font-size: 15px; /* Aumenta el tamaño del texto de los botones */
    flex: 1;
}

.btn1{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color:#177881;
    margin-top: 10px;
    text-align: center;
    font-size: 18px; /* Aumenta el tamaño del texto de los botones */
    width: 50%; /* Asegura que los botones ocupen todo el ancho disponible */
}

.btnexit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #dc3545;
    text-align: center;
    font-size: 18px; /* Aumenta el tamaño del texto de los botones */
}

.salir{
    display: flex;
    justify-content: center;
}

.form-group{
    border-top: 100px;
    height: 100px;
}

.form-control{
    width: 100%;
    height: 35px;
}

 /*Dise;o a la tablas*/

 .table-container {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .table-container th,
  .table-container td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .table-container th {
    background-color: #f2f2f2;
  }